.bins{
    display: flex;
    
}

.conveyor{
    height: 300px; /*暫定的な値*/
    width: 100vw;
    background-color: rgb(117, 117, 255);
    position: relative;
}

.conveyed{
    animation: Convey 10s linear infinite;
    background-color: greenyellow;
    width: fit-content;
    position: absolute;
}



@keyframes Convey {
    0% { transform:translate3d(100vw,0,0); }
    100% { transform:translate3d(-100%,0,0); }
}